<template>
    <v-client-table :columns="columns" :data="data" :options="options">
        <template v-slot:artefact_url="props">
            <a :href="props.row.artefact_url" v-if="props.row.artefact_url"
                >Artefact</a
            >
        </template>
        <template v-slot:winner="props">
            {{ props.row.winner
            }}{{ props.row.winner2 && `, ${props.row.winner2}`
            }}{{ props.row.winner3 && `, ${props.row.winner3}` }}
        </template>
    </v-client-table>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import data, { IDataEntry } from "@/../data.csv";

const columns = ["game", "date", "winner", "artefact_url"];

const options = {
    headings: {
        winner: "Winner(s)"
    },
    sortable: ["game", "date", "winner"],
    filterable: ["game", "date", "winner"],
    descOrderColumns: ["date"],
    orderBy: {
        ascending: false,
        column: "date"
    },

    filterAlgorithm: {
        winner(row: IDataEntry, query: string) {
            query = query.toLowerCase();
            return (
                row.winner.toLowerCase().includes(query) ||
                row.winner2.toLowerCase().includes(query) ||
                row.winner3.toLowerCase().includes(query)
            );
        }
    },
    customSorting: {
        name(ascending: boolean) {
            return (ae: IDataEntry, be: IDataEntry) => {
                let a = ae.winner;
                let b = be.winner;
                if (a === b) {
                    a = ae.winner2;
                    b = be.winner2;
                }
                if (a === b) {
                    a = ae.winner3;
                    b = be.winner3;
                }
                if (a === b) {
                    return 0;
                }
                if (ascending) {
                    return a > b ? 1 : -1;
                } else {
                    return a > b ? -1 : 1;
                }
            };
        }
    }
};

export default defineComponent({
    setup() {
        return { columns, options, data };
    }
});
</script>
