<template>
    <v-client-table :columns="columns" :data="data" :options="options">
    </v-client-table>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import rawData from "@/../data.csv";

const columns = ["player", "wins"];

const options = {
    sortable: true,
    filterable: true,
    descOrderColumns: ["wins"],
    orderBy: {
        ascending: false,
        column: "wins"
    }
};

const data = [] as { player: string; wins: number }[];
{
    const totals = new Map<string, number>();
    for (const d of rawData) {
        totals.set(d.winner, (totals.get(d.winner) ?? 0) + 1);
        if (d.winner2) totals.set(d.winner2, (totals.get(d.winner2) ?? 0) + 1);
        if (d.winner3) totals.set(d.winner3, (totals.get(d.winner3) ?? 0) + 1);
    }
    for (const p of totals) {
        data.push({ player: p[0], wins: p[1] });
    }
}

export default defineComponent({
    setup() {
        return { columns, options, data };
    }
});
</script>
