<template>
    <div class="row">
        <div class="col-md">
            <p>
                Made by
                <a href="https://lixquid.com">Lixquid</a>.
            </p>
            <p>
                Hosted by
                <a href="https://coolerthancool.uk">Icecold</a>.
            </p>
        </div>
        <div class="col-md text-muted text-right">{{ quote }}</div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

const quotes = [
    "Pylons will never not stop being funny",
    "It's not about winning, it's about out-googling inacio",
    "If only your keyboard was as loud as icecold's",
    "Survive The Spice",
    "Apple bottom jeans, boots with the jeans",
    "kachow",
    "Super Queeflash"
];
const quote = quotes[Math.floor(Math.random() * quotes.length)];

export default defineComponent({
    setup() {
        return { quote };
    }
});
</script>
