<template>
    <span
        v-if="props.sortable"
        class="fas float-right"
        :class="
            !props.sortStatus.sorted
                ? 'fa-sort'
                : props.sortStatus.asc
                ? 'fa-sort-up'
                : 'fa-sort-down'
        "
    ></span>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
    props: {
        props: {
            type: (Object as unknown) as () => {
                sortable: boolean;
                sortStatus: {
                    sorted: boolean;
                    asc: boolean;
                };
            },
            required: true
        }
    }
});
</script>
