<template>
    <div id="app" class="container mx-auto mt-5">
        <div class="text-center">
            <img
                src="./assets/logo.png"
                alt="Jackbox Knockout"
                class="mx-auto mb-4"
            />
        </div>
        <nav class="text-center">
            <router-link to="/" exact>History</router-link>
            <small class="text-muted mx-2">/</small>
            <router-link to="/leaderboard">Leaderboard</router-link>
        </nav>
        <router-view class="my-5" />
        <Footer />
    </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import Footer from "./components/Footer.vue";

export default defineComponent({
    components: {
        Footer
    }
});
</script>

<style lang="stylus">
.VueTables__sortable
    cursor pointer
</style>
